<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
<testsuites>
    <testsuite name="Hostaway Test Suite">
        <directory>./tests</directory>
    </testsuite>
</testsuites>
<listeners>
    <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php"/>
</listeners>
</phpunit>
